* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Amble";
  src: url("./Fonts/Amble-Bold-webfont.woff") format("woff");
}

body {
  font-size: 18px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
main {
  background-color: rgb(236, 233, 228);
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "Amble";
  background-color: cornsilk;
}

.small-header {
  font-size: 12px;
  /* border: 2px solid black; */
  width: initial;
  height: 40px;
  margin: 0 auto;
  background-color: burlywood;
}

.profile-icon {
  padding-top: 5px;
  width: 30px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
}

.admin {
  padding-top: 12px;

  float: left;
}
.date {
  padding-top: 12px;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}
.title-and-name {
  padding-top: 20px;
  clear: both;
  text-align: center;
  padding-bottom: 25px;
}

.first-paragraph {
  padding-bottom: 40px;
  width: 700px;
}

.travel-blog-pic {
  margin-left: 50px;
  width: 700px;
}

.second-paragraph {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 700px;
  font-size: 22px;
  font-style: italic;
  padding-left: 5px;
  border-left: 3px solid crimson;
}
